*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, Helvetica, sans-serif, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.border-repository{
    color: gray;
    background-color: white;
    border: 0.1em solid gray;
    border-radius: 0.7em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin: 1.0em auto;
    width: 50%;
    height: 10em;
}

.border-question{
    border: 0.1em solid gray;
    border-radius: 0.7em;
    padding: 1.2em;
    width: 48em;
    margin: 0 auto;
}

.visibility{
    color:gray;
    font-size: 0.8em;
    border: 0.1em solid gray;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 1.0em;
    margin-left: 0.5em;
}

svg{
    width: 1em;
    height: 1em;
}

.circle{
    width: 1em;
    height: 1em;
    border-radius: 1em;
    margin-right: 0.5em;
}

.margin{
    margin-left: 5px;
}

table{
    table-layout: fixed;
    width: 100%;
}

.animated{
    transition: transform 0.3s ease;
}

.animated:hover{
    transform: scale(1.05);
    background-color: rgb(255, 248, 240);
    box-shadow: 0.1em 0.1em 0.5em gray;
}

@media (max-width: 1024px) {
    .border-repository{
        width: 85%;
        height: 11em;
        margin: 0.5em;
    }
}

@media (max-width: 768px) {
    .border-repository{
        font-size: 0.8em;
    }
        .visibility{
        font-size: 0.6em;
    }

}

@media (max-width: 550px) {
    .border-repository{
        height: 12.5em;
        margin: 0.2em;
    }
}

@media (max-width: 420px) {
    .border-repository{
        font-size: 0.5em;
    }
    .visibility{
        font-size: 0.3em;
    }
}

@media (max-width: 360px) {
    .border-repository{
        height: 14.5em;
        font-size: 0.5em;
    }
    .visibility{
        font-size: 0.3em;
    }

}